<div class="auth-container">
    <p-image src="assets/images/logo.png" alt="Image" width="200" />
      <h1><strong>Forget password..</strong></h1>
      <p>Enter a valid email to receive link and reset password</p>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
        <div class="form-group">
          <input pInputText type="text" formControlName="email" placeholder="exemple@gmail.com"/>
        </div>
        <button type="submit" class="black-button">
          {{ loading ? '🔄 Sending in progress...' : 'Send' }}
        </button>
        <small class="margin-small-top">Remember password ? <strong (click)="goToLogIn()">Log In</strong></small>
      </form>
  </div>
  <p-toast />
