<div class="access-denied-container">
    <div class="access-denied-card">
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="Green Building" class="green-building-logo">
      </div>
      
      <div class="message-container">
        <h1>Access Denied</h1>
        <p>Sorry, you don't have permission to access this page.</p>
      </div>
      
      <div class="button-container">
        <button pButton type="button" label="Return to Login" icon="pi pi-sign-in" 
        class="black-button" (click)="navigateToLogin()"></button>
      </div>
    </div>
  </div>