<header class="app-header">
    <!-- Left: Page Title -->
    <div class="title-container">
      <img *ngIf="(selectedNavItem$ | async)?.image" [src]="(selectedNavItem$ | async)?.image" class="title-icon" />
      <h1>{{ (selectedNavItem$ | async)?.title || 'Dashboard' }}</h1>
    </div>
  
    <!-- Right: Tools & Avatar -->
    <div class="flex-row-base">
      <p-button label="Managers" icon="pi pi-plus" severity="danger" (click)="openManageManagersDialog()"/>
      <div class="tool-box-container">
        <i class="pi pi-window-maximize notification-icon" (click)="fullScreen()" pTooltip="Full screen"
          tooltipPosition="top"></i>
  
        <i class="pi pi-camera notification-icon" (click)="captureScreen()" pTooltip="Screenshot"
          tooltipPosition="top"></i>

        <i class="pi pi-sign-out notification-icon" (click)="navigateTo('logout')" pTooltip="Log out"
          tooltipPosition="bottom"></i>
      </div>
  
      <div class="profile-section">
        <avvvatars [value]="adminName" [size]="45" [shadow]="true"></avvvatars>
      </div>
    </div>
  </header>