// Spacing
$no-spacing : 0rem;
$spacing-small : 0.25rem;
$spacing-medium : 0.5rem;
$spacing-base : 0.75rem;
$spacing-large : 1rem;

// Icons
$small-icon : 0.5rem;
$base-icon : 1rem;
$medium-icon : 1.5rem;
$large-icon : 2rem;