<div class="exit">
    <p class="exit" (click)="closeDialog()"> X </p>
</div>
<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">All structures</p-tab>
        <p-tab value="1">Add/Edit structure</p-tab>
        <p-tab value="2">Delete structure</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <div class="container">
                <p-table [value]="structures" [tableStyle]="{ 'width': '35rem' }">
                    <ng-template #header>
                        <tr>
                            <th>Structure ID</th>
                            <th>Structure Name</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-structure>
                        <tr>
                            <td>{{ structure.structureId }}</td>
                            <td>{{ structure.structureName }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabpanel>
        <p-tabpanel value="1">
            <div class="container">
                <h3>Add structure</h3>
                <div class="form-container">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="structure">Structure name <span class="required">*</span></label>
                            <input id="structure" pInputText required placeholder="Structure name" [(ngModel)]="newStructure"/>
                        </div>
                    </div>
                </div>
                <button pButton label="Save structure" icon="pi pi-save" class="p-button-primary" (click)="saveStructure()"></button>
            </div>
        </p-tabpanel>
        <p-tabpanel value="2">
            <div class="container">
                <h3>Delete structure</h3>
                <div class="form-container">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="structure">The structure you want to delete <span class="required">*</span></label>
                            <p-dropdown [options]="IDStructures" placeholder="Select ID" fluid (onChange)="onStructureSelected($event)"></p-dropdown>
                        </div>
                    </div>
                </div>
                <button pButton label="Delete structure" icon="pi pi-check" class="p-button-danger" (click)="deleteStructure()"></button>
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
