<div class="auth-container">
    <p-image src="assets/images/logo.png" alt="Image" width="200" />
      <h1><strong>Reset password..</strong></h1>
      <p>Enter match password and confirm password</p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div *ngIf="email">
          <p>Resetting password for : <strong>{{ email }}</strong></p>
        </div>
        <div class="form-group password-container">
            <p-password formControlName="password" [feedback]="false" placeholder="Password" fluid>
            </p-password>
            <small class="password-hint">💡Use at least 6 characters, including numbers and letters.</small>
          </div>
          <!-- Confirm Password -->
          <div class="form-group password-container">
            <p-password formControlName="confirmPassword" [feedback]="false" placeholder="Confirm Password" fluid></p-password>
          </div>
        <button type="submit" class="black-button">
          {{ loading ? '🔄 Sending in progress...' : 'Reset password' }}
        </button>
      </form>
  </div>
