@use 'styles/variables.scss' as *;
@use 'styles/common.scss' as *;
@use 'styles/spacing.scss' as *;
:root {
    --primary-color: var(--p-blue-500) !important;
    --primary-color-text: #ffffff !important;  
    --card-bg-light: #f5f5f5;
    --card-bg-dark: #121212;
    --container-bg-light: #f5f5f5;
    --container-bg-dark: #0d0d0d;
  }
  .p-fileupload .filelabel {
    display: none;
  }
  p-step-list{
    display: none !important;
  } 
  /* Button Container */
.button {
  margin-top: 1.5rem;
  width: 100%;
}

/* Black Button Styles */
.black-button {
  flex: 1 !important; /* Take equal space */
  width: 100% !important;
  background-color: #000000 !important;
  color: #ffffff !important;
  padding: 12px 20px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  border-radius: 8px !important;
  border: none !important;
  transition: all 0.3s ease !important;
}

.black-button:hover:enabled {
  background-color: #333333 !important;
  transform: scale(1.02) !important;
}

.black-button:focus {
  box-shadow: none !important;
}

/* Icon spacing */
.black-button .p-button-icon {
  margin-left: 8px !important;
}

/* For left icon buttons */
.black-button .p-button-icon-left {
  margin-right: 8px !important;
  margin-left: 0 !important;
}
.prev-button {
  background-color: transparent !important;
  font-size: 16px !important;
  font-weight: bold !important;
  border: none !important;
  cursor: pointer !important;
  padding: 10px 20px !important;
  transition: color 0.3s ease !important;
  background-color: transparent !important;
  color: black !important;
  width: 100px !important;
}
.prev-button:hover {
  color: #555;
  background-color: white !important;
  border: none !important;
}